{% extends 'body.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h4>Naam: {{ car.name|capitalize }}</h4>
            {% if car.description|default %}
            <h4>Beschrijving: {{ car.description|capitalize }}</h4>
            {% endif %}
            {% if car.color|default %}
            <h4>Kleur: {{ car.color|capitalize }}</h4>
            {% endif %}
        </div>
        <div class="col-md-6">
            <img src="{{ asset(car.image) }}" width="100%">
        </div>
    </div>

{% endblock %}
